.h-300 {
    height: 550px !important; /* !important es utilizado aquí para asegurarse de que esta regla de estilo prevalezca */
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  #Galeria{
    padding-top: 8px;
  }